<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="esh-i14y-explorer-ui.ZPM">
    <Module>
      <Name>esh-i14y-explorer-ui</Name>
      <Version>0.1.1</Version>
      <Description>Frontend UI for the i14y-aid InterSystems IRIS Interoperability Production Explainer API</Description>
      <Keywords>IRIS,Interoperability,Frontend,React,TanStack,Lovable</Keywords>
      <Packaging>module</Packaging>

      <CSPApplication Url="/i14y-explorer-ui" SourcePath="/dist/client" DeployPath="{$cspdir}i14y-explorer-ui" ServeFiles="1" Recurse="1" CookiePath="/i14y-explorer-ui"/>
      <SourcesRoot>src</SourcesRoot>
    </Module>
  </Document>
</Export>
